@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");


body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', arial;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: white;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:90px 0px 90px 0px;
  margin:0px auto;
  background: white;
  color:black;
  
}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron p {
  font-style:italic;
  font-weight:200;
  font-size: 12pt;
  margin-top: 20px;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}


.filter {
  font-weight: 700;
  margin-right: 10px;
}

.filter-tag{
  margin: 10px;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
  cursor: pointer;
	outline: inherit;
}

.filter-title{
  margin: 10px;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.filter-title:hover{
  cursor:default
}




:root{
  --clr-neutral-900:hsl(207,19%,9%);
  --clr-neutral-100:hsl(0,0%,100%);
  --clr-neutral-400:hsl(142, 90%, 61%);

}

.card-container {
  padding: 5%;
  overflow: hidden;
  height:0;
  width:33%;
  padding-bottom:33%;
}
.card-title {
  
  position:absolute;
  top:20px;
  left:10px;
  right:10px;
  font-size: 12pt;
  font-weight: 600;
  color:white;
  opacity: 0;
  transition: ease 250ms;
  
}

.item:hover .card-title{
  opacity: 1;
  visibility: visible;
}


img {
  width: 100%;
  height: auto;
  
}

.card-link {
  text-decoration: none;
  font-size: 12pt;
  color: #0f0f0f;
}


.cover-link:hover {
  text-decoration: none;
  color: black
}


.drop-down {
  height: 30px;
  background-color: transparent;
  display: none;
  
}

@media (max-width:400px){
  .drop-down {
    display:inline-block;
  }
  .filters{
    display: none;
  }
}


img {width: 100%;}

#container {width:90%;margin:0 auto;display:flex;flex-wrap:wrap;
justify-content:space-between;}

.item {color:#000;padding:auto;margin:1%;border-radius:2px;flex:1 250px;height:auto;text-align:center;background:linear-gradient(0deg, #efefef, #ffffff);}

.item{position:relative;}
.overlay {
  position:absolute;
  top:0;left:0;right:0;bottom:0;
   background-color: rgba(133, 132, 132, 0);
  transition: ease 250ms ;
   
}
.overlay:hover {
  opacity: 0.4;
  background-color: rgba(0,0,0,1);

}

.about-para {
  text-align: left;
  font-weight: 300;
  font-size: 11pt;
}

.about-container{
  align-items: center;
  text-align: left;
  padding: auto;
  margin-top: 20px;
  overflow: auto;
}

.about-title {
  margin:auto;
  text-align: left;
  font-size:200%;
}

.social-icon {
  margin:2%;
}


@media (max-width:767px) {
  .about-container{
    height: 100%;
  }

  .about-title{
    margin-top: 30px;
    margin-bottom: 10px;
  }
}


/* @media (min-width:1200px) {
  .about-container{
    overflow-y: hidden; 
    overflow-x: hidden; 
  }
} */

.row-header{
  margin:0px auto;
  padding:0px;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

/* .row-header-image {
 
  text-align:center;
  overflow: hidden;
  height:0;
  width:200%;
  padding-bottom:200%;

} */

.image-container {
  padding: 5%;
  overflow: hidden;
  height:0;
  width:33%;
  padding-bottom:33%;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.figure-caption {
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
  font-style: italic;

}

.subtitle{
  margin-left: 4%;
  font-weight: 400;
  font-size: 20pt;
}

.paragraph{
  margin-left: 8%;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

.clock-box{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}



.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.gallery-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gallery-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }
}

.floating-menu {
  font-family: sans-serif;
  background: yellowgreen;
  padding: 5px;;
  width: auto;
  z-index: 100;
  position: fixed;
}
.floating-menu a, 
.floating-menu h3 {
  font-size: 0.9em;
  display: block;
  margin: 0 0.5em;
  color: white;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.no-decoration {
  text-decoration: none;
}