@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");


body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', arial;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: white;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:90px 0px 90px 0px;
  margin:0px auto;
  background: white;
  color:black;
  
}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron p {
  font-style:italic;
  font-weight:300;
  font-size: 12pt;
  margin-top: 20px;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}


